* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem; }

*::selection {
  background-color: #c2b9b9;
  color: darkred; }

.arriba {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  position: fixed; }

.arriba a {
  text-decoration: none;
  color: darkred; }

.encabezado {
  background: #712a2f;
  background: linear-gradient(90deg, #712a2f 16%, #b9222d 53%, #613437 100%); }

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.4rem; }

.encabezado__menu {
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  font-size: 3rem; }

.navbar-toggler {
  border: none; }

.pie__superior-logo {
  width: 80px;
  height: 80px;
  opacity: 0.5; }

.pie__inferior {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 25px;
  background: #712a2f;
  background: linear-gradient(90deg, #712a2f 16%, #b9222d 53%, #613437 100%); }

.pie__inferior span {
  font-size: 27px;
  animation: palpito 1s;
  animation-iteration-count: infinite; }

@keyframes palpito {
  100% {
    color: red; } }

.pie__superior-redes--instagram {
  color: grey; }

.pie__superior-redes--instagram:hover {
  color: #c22020; }

.pie__superior-redes--facebook {
  color: grey; }

.pie__superior-redes--facebook:hover {
  color: #212192; }

.pie__superior-redes--whatssup {
  color: gray; }

.pie__superior-redes--whatssup:hover {
  color: green; }

.index__titulo {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 10px; }

@keyframes cardcambiocolor {
  100% {
    background-color: darkred;
    color: white; } }

.generico1 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 1s; }

.generico2 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 4s; }

.generico3 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 7s; }

.generico4 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 10s; }

.generico5 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 13s; }

.generico6 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 16s; }

.generico7 {
  animation-name: cardcambiocolor;
  animation-duration: 3s;
  animation-delay: 19s; }

.productos__precio {
  background-color: darkred;
  padding: 2rem 0;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.productos__transform:hover {
  transform: scale(1.1); }

.productos__titulo {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 10px;
  text-align: center;
  margin: 2rem;
  margin-bottom: 0; }

.productos {
  position: relative; }

.somos__subtitulo {
  display: none; }

.somos__span {
  font-weight: bold;
  padding-right: 10px; }

.somos h2 {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 10px;
  text-align: center;
  margin: 2rem; }

.blink-1 {
  animation-name: blink-1;
  animation-duration: 10s; }

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

.encuentranos__titulo {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 10px;
  text-align: center;
  margin: 2rem; }

.encuentranos__img {
  width: 450px;
  height: 400px;
  outline: solid darkred 5px; }

.encuentranos__iframe {
  border-radius: 10px;
  outline: solid darkred 5px; }

.encuentranos__table {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2rem; }

.encuentranos__table td {
  background-color: #c6c1c1;
  border-radius: 5px; }

.encuentranos__table th {
  background: #712a2f;
  background: linear-gradient(90deg, #712a2f 16%, #b9222d 53%, #613437 100%);
  border-radius: 5px;
  color: white; }

.contactanos__titulo {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 10px;
  text-align: center;
  grid-area: titulo; }

.contactanos__datos {
  grid-area: datos;
  text-align: center;
  padding: 1rem;
  color: white;
  background: #712a2f;
  background: linear-gradient(90deg, #712a2f 16%, #b9222d 53%, #613437 100%); }

.contactanos__input {
  border: none;
  border-bottom: solid grey;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px; }

.contactanos__btn {
  padding: 5px 20px;
  border: none;
  background-color: darkred;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem; }

.contactanos__btn:hover {
  background-color: black; }

.contactanos__input:hover {
  border-bottom: solid darkred; }

.contactos__contenedor--botones {
  display: flex;
  justify-content: space-evenly; }

.contactanos__input {
  width: 600px; }

@media screen and (max-width: 1000px) {
  .carousel__img {
    width: 650px;
    height: 400px; }
  .somos__img {
    display: none; }
  .somos__subtitulo {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: .1rem; }
  .contactanos__input {
    width: 450px; } }

@media screen and (max-width: 650px) {
  .carousel__img {
    width: 440px;
    height: 300px; }
  .somos__img {
    display: none; }
  .somos__subtitulo {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: .1rem; }
  .encuentranos__table {
    width: 90%; }
  .encuentranos__img {
    width: 280px;
    height: 280px; }
  .encuentranos__main p {
    font-size: 1rem; }
  .encuentranos__titulo {
    font-size: 1.5rem;
    letter-spacing: 1px; }
  .contactos__datos-small {
    display: block; }
  .contactanos__input {
    width: 400px; } }

@media screen and (max-width: 440px) {
  .somos__img {
    display: none; }
  .somos__subtitulo {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: .1rem; }
  .somos__vision {
    margin-top: 0; }
  .pie__superior-ws--texto {
    font-size: 20px; }
  .pie__superior-redes--texto {
    font-size: 20px;
    margin-left: 10px; }
  .pie__inferior {
    letter-spacing: 1px;
    height: 60px;
    font-size: 14px; }
  .pie__inferior span {
    font-size: 27px; }
  .contactanos__input {
    width: 280px; } }

@media screen and (max-width: 349px) {
  .carousel__img {
    width: 280px;
    height: 120px; } }
