
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $texto;
    font-size: 2rem;
}
*::selection {
    background-color: rgb(194, 185, 185);
    color: $principal;
}

.arriba {
    position: absolute;
     right: 1rem;
     bottom: 1rem;
     position: fixed;

     & a {
        text-decoration: none;
        color: $principal;

     }
 }
 

 
