
.encabezado {
    background: $fondo;
    background: $gradiente;

    &__menu {
        color: whitesmoke;
        border-radius: 5px;
        padding: 5px;
        font-size: 3rem;    

    }
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: $titulos;
    font-size: 1.4rem;
}


.navbar-toggler {
    border: none;
}
