@media screen and (max-width: 1000px) {

    .carousel__img {
        width: 650px;
        height: 400px;

    }

    .somos__img {
        display: none;
    }
    .somos__subtitulo {
        display: grid;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .1rem;

    }

    .contactanos__input {
        width: 450px;
    }

    .index__card--texto {
        font-size: 1.5rem;
    }
    
    
    
}

@media screen and (max-width: 650px) {
    .carousel__img {
        width: 440px;
        height: 300px;
    }

    .somos__img {
        display: none;
    }
    .somos__subtitulo {
        display: grid;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .1rem;

    }

    .encuentranos__table {
        width: 90%;   
    }

    .encuentranos__img {
        width: 280px;
        height: 280px;
    }
    
    .encuentranos__main p {
        font-size: 1rem;
    }
    
    .encuentranos__titulo {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .contactos__datos-small {
        display: block;
    }

    .contactanos__input {
        width: 400px;
    }
    
    .index__card {
        justify-content: center;
    }

    .index__card--contenido {
        width: 80%;
    }

    .index__card--texto {
        font-size: 1.5rem;
    }

    

    
    

    
}

@media screen and (max-width: 575px) {

    
    .productos__card {
        justify-content: center;
    }


    .productos__card--contenido {
        width: 80%;

    }

    .productos__card--precio {
        padding: 1.5rem 0;
    }

    .productos__card p {
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 440px) {

    .somos__img {
        display: none;
    }
    .somos__subtitulo {
        display: grid;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .1rem;

    }

    .somos__vision {
        margin-top: 0;
    }

    .pie__superior-ws--texto {
        font-size: 20px;
    }
    .pie__superior-redes--texto {
        font-size: 20px;
        margin-left: 10px;
    }

    .pie__inferior {
        letter-spacing: 1px;
        height: 60px;
        font-size: 14px;
    }
    
    .pie__inferior span {
        font-size: 27px;
    }

    .contactanos__input {
        width: 280px;
    }
    
    
    .index__card {
        justify-content: center;
    
    }

    .index__card--contenido {
        width: 80%;
    }

    .index__card--texto {
        font-size: 1rem;
    }

    .productos__card {
        justify-content: center;
    }


    .productos__card--contenido {
        width: 80%;

    }

    .productos__card--precio {
        padding: 1rem 0;
    }

    .productos__card p {
        font-size: 1.2rem;
    }

    
}

@media screen and (max-width: 349px) {

    .carousel__img {
        width: 280px;
        height: 120px;


     }

}