$texto:'Amatic SC', cursive;
$titulos: 'Permanent Marker', cursive;

$principal: darkred;
$fondo:rgb(113,42,47);
$gradiente:linear-gradient(90deg, rgba(113,42,47,1) 16%, rgba(185,34,45,1) 53%, rgba(97,52,55,1) 100%);