


/*-------------------------MEDIAS QUERIES - PANTALLA HASTA 1000PX------------------------*/

 
    
    

/*-------------------------MEDIAS QUERIES - PANTALLA HASTA 650PX------------------------*/




    

    
    
    
    


    /*---------QUINES SOMOS-------------*/
    .somos h2 {
        font-size: 1.7rem; 
    }
    
    .somos__contenido p {
        width: 100%; 
        font-size: 1.5rem; 
    }
     
    .somos__valores p {
        font-size: 1.5rem; 
    }
    /* ENCUENTRANOS*/

    .encuentranos__img {
        width: 280px;
        height: 280px;
    }
    
    .encuentranos__main p {
        font-size: 1rem;
    }
    .encuentranos__table {
        width: 90%;   
    }
    .encuentranos__titulo {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    /*CONTACTANOS*/
    .contactanos {
       display: flex;
       flex-direction: column;
       padding-left: 0;  
       padding-top: 0;  
    }
    
    .contactanos__datos {
        font-size: 1.8rem;
        width: 90%;
    }

    .contactanos {
        height: 1300px;
    }
    
    .contactanos__datos-contenido {
        margin-bottom: 3rem;
    }
    .contactanos__datos small {
        display: block;
    }
    
    .contactanos__titulo {
        letter-spacing: 1px;
        font-size: 1.5rem;
        padding-bottom: 1rem; 
    }
    .contactanos__form {
        padding: 1rem;
        padding-left: 0;
        padding-right: 0; 
        width: 85%;  
    
    }
    .contactanos__form h4 {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .contactanos__btn {
        padding: 8px;
        font-size: 1rem;  
    }


/*-------------------------MEDIAS QUERIES - PANTALLA HASTA 440PX------------------------*/
@media screen and (max-width: 440px) {

          /* header*/
     .logo {
        align-items: center;
        width: 60px;
    }
    
    .menu a {
        display: none; 
    }

    .menu__phono {
        display: grid;
        color: white;
        text-align: center;
        font-size: 3rem;
    }
    .productos__titulo {
        font-family: 'Permanent Marker', cursive;
        letter-spacing: 10px;
        text-align: center;
        margin: 2rem;
        font-size: 2.2rem;
        margin-bottom: .7rem;
    } 
    /*footer*/


    .pie__superior-ws--texto {
        font-size: 20px;
    }
    .pie__superior-redes--texto {
        font-size: 20px;
        margin-left: 10px;
        
        
    }
    
    .pie__inferior {
        letter-spacing: 1px;
        height: 60px;
        font-size: 14px;
    }
    
    .pie__inferior span {
        font-size: 27px;
    }



    
    /*INDEX*/
     .contenido__titulo {
        font-size: 1.5rem;
    }
    
    .contenido {
        grid-template-columns: 1fr;   
    }
    
    
    .contenido__card--barquillo {
        width: 233px;
        height: 213px;
        background-size: 233px;
        
    }
    .contenido__card--vasos {
        width: 233px;
        height: 213px;
        background-size: 233px;
        
    }
    .contenido__card--paletas {
        width: 233px;
        height: 213px;
        background-size: 233px;
        
    }
    .contenido__card--cassatas {
        width: 233px;
        height: 213px;
        background-size: 233px;
  
    }
    .contenido__card--tortas {
        width: 233px;
        height: 213px;
        background-size: 233px;
    }
    .contenido__card--bebidas {
        width: 233px;
        height: 213px;
        background-size: 233px;
    }
    .contenido__card--granizados {
        width: 233px;
        height: 213px;
        background-size: 233px;
        
    }
    .contenido__card--generico {
        width: 200px;
        height: 66px;
    }
    .contenido__card--generico p  {
        font-size: .8rem;
    }
    .contenido__card--generico h5 { 
        letter-spacing: 1px;
    }
    
}


@media screen and (max-width: 349px) {

    .carousel__img {
        width: 280px;
        height: 120px;


     }

}

 


















