
.encuentranos {
    &__titulo {
        @extend .titulos;
        margin: 2rem;

    }

    &__img {
        @include fotos (450px, 400px);
        outline: solid $principal 5px;

    }

    &__iframe {
        border-radius: 10px;
        outline: solid $principal 5px;

    }

    &__table {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 2rem;

        & td {
            background-color: rgb(198, 193, 193);
            border-radius: 5px;

        }

        & th {
            background: $fondo;
            background: $gradiente;
            border-radius: 5px;
            color: white;

        }
    }
}




