.productos__card--precio {
    background-color: darkred;
    padding: 2rem 0;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.productos__transform:hover {
    transform: scale(1.1);   
}


.productos__titulo {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 10px;
    text-align: center;
    margin: 2rem;
    margin-bottom: 0;
}

.productos {
    position: relative;
}

.productos__card p {
    font-size: 1.7rem;
}