
.somos {
  & h2 {
    @extend .titulos;
    margin: 2rem;

  }

  &__subtitulo {
    display: none;
  }
  &__span {
    font-weight: bold;
    padding-right: 10px;

  }
 

}



.blink-1 {
    animation-name: blink-1;
    animation-duration: 10s;
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }