.contactanos {
    &__titulo {
        @extend .titulos;
        
    }
    &__datos {
        grid-area: datos;
         text-align: center;
        padding: 1rem;
        color: white;
        background: $fondo;
        background: $gradiente;

    }

    &__input {
        border: none;
        border-bottom: solid grey;
        display: block;
        width: 600px;
        margin-bottom: 15px;
        height: 40px;

    }

    &__input:hover {
        border-bottom: solid $principal;

    }

    &__btn {
        padding: 5px 20px;
        border: none;
        background-color:$principal;
        border-radius: 5px;
        color: white;
        font-size: 1.3rem;
    }

    &__btn:hover {
        background-color: black;
    }
}



.contactos__contenedor--botones {
    display: flex;
    justify-content: space-evenly;
}


.contactos__datos-small {
    display: block;
}